<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762553865794-21adufmfkanfk2hvilgqonble24t95hv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762553865794-21adufmfkanfk2hvilgqonble24t95hv</string>
	<key>API_KEY</key>
	<string>AIzaSyAkWkIVCzcPmVHIkFD4haOxx60v0qhZnGw</string>
	<key>GCM_SENDER_ID</key>
	<string>762553865794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loft.hackthon.time5.loftHelper</string>
	<key>PROJECT_ID</key>
	<string>loft-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>loft-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762553865794:ios:38ed54c3670da40b303fdb</string>
	<key>DATABASE_URL</key>
	<string>https://loft-helper.firebaseio.com</string>
</dict>
</plist>